.LandingPage {
}
.LandingPage-body {
  height: 690px;
  width: 1450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3.5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.LandingPage-body-right {
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-right: -10px;
  height: 550px;
  position: sticky;
}

.LandingPage-content-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-img {
  height: 200px;
  width: 400px;
  margin-top: 20px;
}

.top-img {
  -webkit-animation: mover 3.5s infinite alternate;
  animation: mover-top 3.5s infinite alternate;
}
@-webkit-keyframes mover-top {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.13);
  }
}
@keyframes mover-top {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.13);
  }
}

.lower-img {
  height: 400px;
  margin-top: -110px;
  width: 350px;
  margin-left: 25px;
}
.lower-img {
  -webkit-animation: mover 3.5s infinite alternate;
  animation: mover 3.5s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.LPBR-body {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.LandingPage-body-left {
  background-color: rgb(255, 255, 255);
  width: 600px;
  padding-top: 75px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.LBLC-description {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: rgb(129, 129, 129);
  width: 580px;
}

.left-part-content-heading-skills {
  margin-top: 20px;
  color: rgb(58, 57, 57);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.left-part-content-heading {
  margin-top: 20px;
  color: rgb(58, 57, 57);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.left-part-content-description {
  color: rgb(129, 129, 129);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.socialMedia-logo {
  margin-top: 10px;
  margin-left: 0px;
  /* background-image: linear-gradient(to bottom, rgb(24, 20, 20),rgrgb(43, 15, 15)); */
  color: rgb(47, 78, 94);
  transition: 0.3s ease-in-out;
}
.socialMedia-logo:hover {
  transform: scale(1.1);
}

.left-part-logo{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
}

.left-part-link{
  background-color: rgba(83, 51, 51, 0);
}

.margin{
  margin-left: 20px;
}