@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(11, 11, 12);
}

.navbar-heading {
  margin-top: 10px;
  margin: 35px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.navbar-heading:hover {
  border-bottom: 2px solid rgb(71, 71, 71);
  color: rgb(71, 71, 71);
}
