@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
.typewriter{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-top: 150px;
    color: rgb(54, 54, 54);
}